<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <div class="header-content">
      <nav>
        <ul>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
  </div>
  </header>
  <main class="content">
    <div class="text-container">
    <h1>Admin Panel</h1>
    <ul>
      <li><a href="/admin/update-menu">Update Menu</a></li>
      <li><a href="/admin/orders">View Orders</a></li>
    </ul>
    </div>
  </main>
</body>
</html>
